<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="node_modules/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <!--    当我键盘按下,执行这个事件-->
    <input type="text" v-model="uname" @keyup.delete="clearText">
    <input type="text" v-model="pwd">
</div>

<script>
    let vm = new Vue({
        el: "#app",
        // model
        data() {
            return {
                uname: "",
                pwd: ""
            }
        },
        // 定义方法的节点
        methods: {
            clearText() {
                this.uname="";
            }
        }
    });
</script>
</body>
</html>